/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5; /* Светло-серый фон */
}

header {
    background-color: #8E24AA; /* Фиолетово-красный */
    color: #FFEB3B; /* Жёлтый */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFEB3B; /* Жёлтый */
    text-decoration: none;
}

main {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFF; /* Белый фон */
}

.product img {
    max-width: 100%;
}

button {
    background-color: #8E24AA; /* Фиолетово-красный */
    color: #FFEB3B; /* Жёлтый */
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #8E24AA; /* Фиолетово-красный */
    color: #FFEB3B; /* Жёлтый */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}